@import "tailwindcss";

/* Custom Scrollbar cho tông Dark Mode */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #f8faf9; }
::-webkit-scrollbar-thumb { background: #480122; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #05430d; }